<?xml version="1.0"?>
<configuration>
    <configSections>    
        <!-- NHibernate Section -->
        <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
        <!-- NHibernate Section End -->
    </configSections>

    <connectionStrings>
        <add name="LoanDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\App_Data\LoanDB.mdf;Integrated Security=True;User Instance=True;User Instance=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>

	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory name="NHibernate.Test">
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">
				Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\App_Data\LoanDB.mdf;Integrated Security=True;User Instance=True
			</property>
			<property name="adonet.batch_size">10</property>
			<property name="show_sql">true</property>
			<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
			<property name="use_outer_join">true</property>
			<property name="command_timeout">60</property>
			<property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
			<property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
		</session-factory>
	</hibernate-configuration>	   
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
